@media only screen and (max-width: 768px) {
  h1{
    font-size: 5rem;
  }

  header{
    background-position-x: -350px;
    min-height: 550px !important;

    .title-container{
      padding-top: 20px !important;
    }
  }

  nav{
    .nav-wrapper{
      padding: 0 20px;
    }
  }

  .servicios-tiles{
    .col.s6{
      width: 50% !important;
      margin-bottom: 15%;

      p{
        margin: 0;
      }
    }
  }

  .process-line{
    img{
      width: 100%;
    }
  }

  #clientes{
    .margin-right{
      margin-right: 10%;
    }
  }

  .new-h1-size{
    font-size: 3em;
  }

  .new-h4-size{
    font-size: 1.5em;
  }

  .back-button{
    margin-top: 15%;
  }

  #email-success{
    background-position-x: -50px;
  }

  .left{
    left: 1.5rem !important;
  }

  .show-on-small{
    display: block;
  }

  .proceso{
    background-image: url("../img/meeting.png");
    background-size: 400%;
    background-repeat: no-repeat;
    background-position-x: -600px;
  }

  .contacts{
    font-size: 1.3em;

    div{
      margin-bottom: 5%;
    }
  }

  .other-contacts{
    font-size: 3.4em;

    .margin-top{
      margin-top: 5%;
    }
  }
}
